body{padding: 0px; margin: 0px;}
.section_1{display:flex;flex-direction:column;width:100%;height:1000px;justify-content:flex-start;align-items:flex-start;}
.child-image_1{display:flex;width:100%;height:720px;background-color:#cccccc;flex-direction:column; background-image:url(images/fundo.png);background-position:center;background-repeat:no-repeat;background-size:cover;}
.section_2{display:flex;flex-direction:column;width:100%;height:200px;justify-content:flex-start;align-items:flex-start;}
.child_1{display:flex;width:100%;height:48px;background-color:rgb(25,66,33,0.45);flex-direction:column;justify-content:center;align-items:center;;}
.section_3{display:flex;flex-direction:row;width:80%;height:42px;justify-content:space-between;align-items:center;}
.section_4{display:flex;flex-direction:row;width:570px;height:32px;justify-content:flex-start;align-items:flex-start;}
.section_5{display:flex;flex-direction:row;width:170px;height:34px;justify-content:flex-start;align-items:center;}
.label_1{font-family: Arial, Helvetica, sans-serif;font-size: 1rem;color: #ffffff;}
.section_6{display:flex;flex-direction:row;width:160px;height:34px;justify-content:flex-start;align-items:center;}
.label_2{font-family: Arial, Helvetica, sans-serif;font-size: 1rem;color: #ffffff;}
.section_7{display:flex;flex-direction:row;width:240px;height:34px;justify-content:flex-start;align-items:center;}
.label_3{font-family: Arial, Helvetica, sans-serif;font-size: 1rem;color: #ffffff;}
.label_4{font-family: Arial, Helvetica, sans-serif;font-size: 1.2rem;color: #FF5722;}
.child_2{display:flex;width:100%;height:2px;background-color:#003817;flex-direction:column;;}
.child_3{display:flex;width:100%;height:112px;padding:0px 10%;background-color:rgb(25,66,33,0.45);flex-direction:column;;}
.section_8{display:flex;flex-direction:row;width:80%;height:112px;justify-content:space-between;align-items:center;}
.section_9{display:flex;flex-direction:row;width:330px;height:90px;justify-content:flex-start;align-items:center;}
.child_4{display:flex;width:240px;height:90px;margin:0px 10px;flex-direction:column;justify-content:flex-end;align-items:flex-start;;}
.label_5{font-family: Arial, Helvetica, sans-serif;font-size: 3rem;color: #FC3809;}
.section_10{display:flex;flex-direction:row;width:700px;height:80px;justify-content:space-between;align-items:center;}
.link_nave{text-decoration: none;padding: 14px 14px;}
.link_nave:hover{text-decoration: none;border-bottom: 2px #003817 solid;}
.link_nave:active{text-decoration: none;background-color: rgba(252, 56, 9, 0.5);}
.label_6{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
.label_7{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
.label_8{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
.label_9{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
.label_10{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
.link_nave_btn{text-decoration: none;background-color: #FC3809;padding: 14px 14px;}
.link_nave_btn:hover{text-decoration: none;background-color: rgba(252, 56, 9, 0.5);}
.label_11{font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;color: #fff;}
